td {
    border-style:solid;
    border-width:medium;
    border-color:black;
    padding: 5px;
}

thead {
    background-color: aqua;
    /* padding: 5px; */
}

td.select {
    background-color: yellow;
}