<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Home Page</title>{% endblock %}
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

{% block content %}
  <h1>Welcome to the GIS Tutoring Website</h1>
  <ul>
    <li><strong>Tutors that have signed up:</strong> {{ num_tutors}}</li>
    <li><strong>Tutees that have signed up:</strong> {{ num_tutees }}</li>
  </ul>

  <a href="{% url 'tutorsignup' %}">Tutors Signup here!</a>
  <a href="{% url 'tuteesignup' %}">Tutees Signup here!</a>
{% endblock %}