<!-- <p>
            <table>
                <tbody>
                    <tr>
                        <td>good morning</td>
                    </tr>
                </tbody>
            </table>
        </p> -->
        <!-- <p>
            <div>
                {{  form.subject.label  }}
                {{  form.subject(rows = 3, multiple = True)}}
            </div>
        </p> -->
        <!-- <p>
            {{  form.subject.label  }} 
            <select>
                {% for subject in form.subject %}
                    <option value = "{{subject}}">
                    </option>
            {% endfor %}
            </select>
        </p> -->


        <!-- <p>
            {{ form.subject.label }} <br>
            {% for subject in form.subject %}
                <input type = "checkbox" name = "Subject" value = "{{  subject.value  }}" >{{subject.label}}<br>
            {% endfor %}
        </p> -->