{% extends 'layout.html' %}
<!-- <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="table.js"></script>
</head> -->
{% block content %}
    <h1>To sign up as a tutor please fill out the form below</h1>
    <form action = "" method = "POST" novalidate>
        {{  form.csrf_token  }}
        {{  form.name  }}
        {{  form.hidden_tag()  }}
        <p>
            {{  form.first_name.label  }} 
            {{  form.first_name(size = 32)}}
        </p>
        <p>
            {{  form.last_name.label  }} 
            {{  form.last_name(size = 32)}}
        </p>
        <p>
            {{  form.school_email.label  }} 
            {{  form.school_email(size = 32)}}
        </p>
        <p>
            {{  form.grade_choices.label  }}
            {{  form.grade_choices()  }}
        </p>
        <p>
            {{  form.subject_choices.label  }} <br>
            {% for subject in form.subject_choices  %}
                <input type = "checkbox" name = "subject_choices" value = "{{subject.data}}">{{subject.label}} <br>
            {% endfor %}
        </p>
        <p>
            {{  form.time.label  }} <br>
            <table>
                <thead>
                    <tr>
                        <td align = "center" class = "not-clickable">Day</td>
                        <td align = "center" class = "not-clickable">8:00 - 9:10</td>
                        <td align = "center" class = "not-clickable">9:40 - 10:50</td>
                        <td align = "center" class = "not-clickable">10:55 - 12:05</td>
                    </tr>
                </thead>
                <tbdoy>
                    <tr>
                        <td class = "not-clickable">Monday</td>
                        {%  for time in form.time  %}
                        <td>{{time}}</td>
                        {%  endfor  %}
                    </tr>
                </tbdoy>
            </table>
        </p>
        <p>
                {% if form.errors %}
                {{ form.errors }}
                {% endif %}
        </p>
        <p>
            {{  form.submit()  }}
        </p>
    </form>
{% endblock %}